<!-- <h1>Welcome to the Angular</h1> -->
<!-- 


<app-test-comp></app-test-comp>

<app-test-comp-two></app-test-comp-two> -->


<!--string interpolation-->

<!-- <p>Hello world</p> -->
 <!-- string interpolation -->
<p>{{students}}</p>

<p>{{getStudents()}}</p>


<!--PROPERTY DATA BINDING-->

<input type="text" value="Angular,Javascript,Typescript,html">

<br>
by using propertydatabindg : <input type="text" [value]="technologies">

<br>

by using propertydatabindg : <input [type]="controlType">
